/* Start Style Page Header */

ion-header {
    padding-top: 2.5rem
}

ion-header ion-buttons ion-button i {
    color : #dcdcdd;
    font-weight: normal
}

ion-header ion-title {
    padding-left: 0;
    margin-left : 2%
}

ion-header ion-text {
    font-weight: bold;
    color : #333;
    font-size: 22px
}

/* End Style Page Header */

/* Start Style Page Content */

ion-content #intro .intro-section-header h4 ,
ion-content #second-part .second-part-header h4 {
    margin-left: 7%;
    font-size: 16px;
    color : #8a8a8e;
    font-weight: bold
}

ion-content #intro div.number ,
ion-content #second-part div.number {
    color : #3f4953
}

ion-content #intro ion-label ,
ion-content #second-part ion-label {
    margin-left: 7.5%;
    margin-top: 13%
}

ion-content #intro ion-label h2 ,
ion-content #second-part ion-label h2 {
    font-size : 16px;
    color : #000;
    font-weight: bold
}

ion-content #intro ion-label p ,
ion-content #second-part ion-label p {
    color : #8a8a8e
}

ion-content #intro ion-label p span,
ion-content #second-part ion-label p span {
    display: inline-block;
    padding: 2.5px;
    background-color: #c3c3c3;
    border-radius: 50%;
    margin: 1.5% 0.5% 0 0.7%;
}

ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar { margin-top: 10% }

/* End Style Page Content */

/* Start Responsive Of The Page */

@media(min-width: 540px) and (max-width:720px) {

    ion-content #intro ion-label, ion-content #second-part ion-label {

        margin-top : 6%

    }

    ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar {

        margin-top : 5%

    }

}

@media(min-width: 1024px) and (max-width:1366px) {

    ion-content #intro ion-label, ion-content #second-part ion-label {

        margin-top : 3%

    }

    ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar {

        margin-top : 4%

    }

}

@media(min-width: 768px) and (max-width:1024px) {

    ion-content #intro ion-label, ion-content #second-part ion-label {

        margin-top : 3%

    }

    ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar {

        margin-top : 4%

    }

}

@media(min-width: 375px) and (max-width:812px) {

    ion-content #intro ion-label, ion-content #second-part ion-label {

        margin-top : 8%

    }

    ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar {

        margin-top : 6%

    }

}

@media(min-width: 320px) and (max-width:568px) {

    ion-content #intro ion-label, ion-content #second-part ion-label {

        margin-top : 8%

    }

    ion-content #intro .intro-section-items .intro-section-item:nth-child(1) .progress-bar {

        margin-top : 6%

    }

}

/* End Responsive Of The Page */