* {
    font-family: 'tajawal';
}

ion-header {
    padding: 0 0.375rem;
}

.header-back-button {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.925rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.header-icon {
    color: #71a033;
    padding: 0 0.325rem;
}

/* **************************************************************************************************************** */

.certificate-item {
    border: 1px solid rgb(235, 231, 231);
    border-radius: 7px;
    padding: 0.325rem;
}

.certificates-container {
    padding: 0.925rem 0.625rem;
}

.cert-item-img {
    position: relative;
}

.cert-item-img .main-img {
    display: block;
    width: 100%;
    min-height: 72px;
    height: auto;
    max-height: 100px;
    border-radius: 5px;
}

.cert-img-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: auto;
    max-height: 28px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cert-item-text .title p {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
    color: #000000;
    margin: 1px 0;
}

.cert-item-link {
    text-decoration: none;
    color: #000000;
}

.cert-item-text .done-date p {
    margin: 0.1rem 0;
    font-size: 12px;
    color: #8a8a8e;
}

.cert-item-text .more-link a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #71a033;
}