* {
    font-family: 'tajawal';
}

ion-header {
    padding: 0 0.375rem;
}

.header-back-button {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.header-icon {
    color: #71a033;
    padding: 0 0.325rem;
}

.fav-item {
    border: 1px solid rgb(235, 231, 231);
    border-radius: 7px;
    padding: 0.325rem;
}

.favourites-container {
    padding: 0.925rem 0.625rem;
}

.fav-item-img {
    position: relative;
}

.fav-item-img img {
    display: block;
    width: 100%;
    min-height: 72px;
    height: auto;
    max-height: 100px;
    border-radius: 5px;
}

.course-duration {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.15rem 0.425rem;
    background-color: #363636a9;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
}

.fav-item-text .lecturer {
    display: block;
    font-size: 12px;
    color: #8a8a8e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fav-item-text .title p {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
    color: #000000;
    margin: 1px 0;
}

.fav-item-text .rating {
    font-size: 11px;
}

.fav-item-text .rating .star-icon {
    font-size: 11px;
}

.fav-item-text .rating .filled {
    color: rgb(255, 153, 0);
}

.fav-item-link {
    text-decoration: none;
    color: #000000;
}

.fav-item .more-link {
    color: #000000;
}