/* Start Global */

ul {
    list-style-type: none;
    padding : 0;
    margin : 0
}

/* End Global */

/* Start Style Page Header */

ion-header {
    padding-top: 2.5rem !important
}

ion-header ion-buttons ion-button i {
    color : #dcdcdd;
    font-weight: normal !important
}

ion-header ion-title {
    padding-left: 0 !important;
    margin-left : 2%
}

ion-header ion-text {
    font-weight: bold !important;
    color : #333 !important;
    font-size: 22px
}

ion-header ion-toolbar .resetBtn {
    --color : #71a033;
    text-transform: none;
    font-size: 16px;
}

/* End Style Page Header */

/* Start Style Page Content */

/* Start Style Sort By Section */

ion-content #sortBy .sortByDetails h2 {
    margin-left: 4%;
    font-weight: bold
}

ion-content #sortBy .sortByDetails .sortByItems {
    margin-left: 4%;
    margin-top: 5%;
}

ion-content #sortBy .sortByDetails .sortByItem {
    display: inline-block;
    border : 1px solid #8a8a8e;
    color : #000;
    padding: 5% 13%;
    margin-right: 2%;
    border-radius: 8px;
    font-weight: bold;
}

ion-content #sortBy .sortByDetails .sortByItem.active {
    border : 2px solid #71a033;
    color : #71a033
}

/* End Style Sort By Section */

/* Start Style Filter By Section */

ion-content #filterBy .filterByDetails h2 {
    margin-left: 4%;
    font-weight: bold
}

ion-content #filterBy .filterByDetails .filterByItems {
    margin-left: 4%;
    margin-top: 5%;
}

ion-content #filterBy .filterByDetails .filterByItem {
    display: inline-block;
    border : 1px solid #8a8a8e;
    color : #000;
    padding: 5% 4%;
    margin-right: 2%;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}

ion-content #filterBy .filterByDetails p {
    color: #8a8a8e;
    font-weight: bold;
    margin-left: 4%;
}

ion-content #filterBy .filterByDetails .filterByItem span { font-weight: normal }

/* End Style Filter By Section */

/* Start Style Show Results Action */

ion-content #showResult .showResultAction {
    padding    : 0 3% 0 3%;
    margin-top : 20%
}

ion-content #showResult .showResultAction ion-button {
    --border         : 1px solid #71a033;
    --background     : #71a033;
    --border-radius  : 10px;
    --padding-top    : 25px;
    --padding-bottom : 25px;
    text-transform   : none;
    font-weight      : bold
}

/* End Style Show Results Action */

/* End Style Page Content */