/* Start Style Page Header */
ion-header { padding-top: 2.5rem }

ion-header ion-toolbar ion-buttons div ion-text { font-weight: bold }

ion-header #search_bar { margin-top : 4% }

ion-header #search_bar ion-searchbar {
    --background        : #f5f5f7;
    --placeholder-color : #c4c4c6;
    --icon-color        : #c4c4c6;
    --border-radius     : 10px;
    --color             : #333
}

/* End Style Page Header */

/* Start Style Page Content */

ion-content #search_typing .search_typing_item { margin-bottom: 1% }

ion-content ion-item ion-label p ion-text {
    font-weight : bold;
    font-size   : 16px;
    color       : #c4c4c6
}

ion-content ion-item ion-label p ion-text span {
    color : #000
}

/* End Style Page Content */

/* Start Page Responsive */

@media (min-width: 540px) and (max-width: 720px) {
    ion-header ion-toolbar ion-buttons {
        margin-top: 2%
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    ion-header ion-toolbar ion-buttons {
        margin-top: 3%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    ion-header ion-toolbar ion-buttons {
        margin-top: 3%
    }
}


/* End Page Responsive */