* {
    font-family: 'tajawal';
}

ion-header {
    padding: 0 0.375rem;
}

.header-back-button {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.925rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.header-icon {
    color: #71a033;
    padding: 0 0.325rem;
}

/* ********************************************************************************* */

.active-container, .expired-container {
    margin-top: 1.5rem;
}

.subscription-title {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #8a8a8e;
    margin-bottom: 0.525rem;
}

.subscription-title:before, .subscription-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #f5f5f7;
    margin: auto;
}

.subscription-item {
    padding: 0.625rem 0.625rem
}

.expired-item {
    padding: 0.425rem 0.625rem
}

.subscription-item .subscription-item-name {
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.subscription-item .subscription-item-renewal {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #71a033;
}

.subscription-item .subscription-item-expired {
    font-size: 12px;
    font-weight: 500;
    color: #ff3b32;
}

.renew-button {
    --background: #f2f5ed;
    color: #71a033;
}